div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
img {
    width: 80px;
    height: 80px;
    background-color: grey;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }
  